@model IEnumerable<Car.Application.Car.CarDto>

@{
    ViewData["Title"] = "Moje pojazdy";
}

<h1>Moje pojazdy</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Dodaj nowy pojazd</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> *@

<div class="row">
    @foreach (var item in Model)

    {
    @if(item.IsVisible)
    {
    
    
        <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">@item.CarBrand</h4>
                    <h5 class="card-subtitle mb-2 text-muted">@item.CarModel</h5>
                <p class="card-text"><b>Rok produkcji:</b> @item.ProductionYear</p>
                <p class="card-text"><b>Numer rejestracyjny:</b> @item.RegistrationNumber</p>
                <p class="card-text"><b>VIN:</b> @item.VIN</p>
            
                @*@if(item.IsEditable)
                {
                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a>
                }*@
                    @* <a asp-controller="Car" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a>
                <a href="#" class="btn btn-danger">Usuń</a> *@
                <form asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </div>
        </div>
       }


        @* <tr>
    <td>
    @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CarBrand)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CarModel)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ProductionYear)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.RegistrationNumber)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.VIN)
    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
    </tr> *@
    }

</div>

    @* </tbody>
</table> *@
