@model IEnumerable<Car.Application.Car.CarDto>

@{
    ViewData["Title"] = "Moje pojazdy";
}

<h1 class="text-center my-4">Moje pojazdy</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary btn-sl">Dodaj nowy pojazd</a>
</p>

<div class="row justify-content-center">
    @if (!Model.Any())
    {
        <div class="alert alert-warning text-center" role="alert">
            Brak pojazdów do wyświetlenia. Dodaj nowy pojazd, klikając powyższy przycisk.
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            @if (item.IsVisible)
            {
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card shadow-sm m-3">
                        <div class="card-body">
                            <h4 class="card-title">@item.CarBrand</h4>
                            <h5 class="card-subtitle mb-2 text-muted">@item.CarModel</h5>
                            <ul class="list-unstyled">
                                <li><b>Rok produkcji:</b> @item.ProductionYear</li>
                                <li><b>Numer rejestracyjny:</b> @item.RegistrationNumber</li>
                                <li><b>VIN:</b> @item.VIN</li>
                            </ul>
                            <div class="d-flex justify-content-between mt-3">
                                
                                <form asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
