@*@model IEnumerable<Car.Application.Car.RepairWithCarDto>

@{
    ViewData["Title"] = "ShowByUsername";
}

<h1>ShowByUsername</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MechanicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MechanicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Repair" asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">Edytuj</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@

@model IEnumerable<Car.Application.Car.RepairWithCarDto>

@{
    ViewData["Title"] = "ShowByUsername";
}

<h1>Show Repairs by Username</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().CarId)</th>
            <th>@Html.DisplayNameFor(model => model.First().CarBrand)</th>
            <th>@Html.DisplayNameFor(model => model.First().CarModel)</th>
            <th>@Html.DisplayNameFor(model => model.First().MechanicId)</th>
            <th>@Html.DisplayNameFor(model => model.First().ReservationDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().Information)</th>
            <th>@Html.DisplayNameFor(model => model.First().Status)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CarId)</td>
                <td>@Html.DisplayFor(modelItem => item.CarBrand)</td>
                <td>@Html.DisplayFor(modelItem => item.CarModel)</td>
                <td>@Html.DisplayFor(modelItem => item.MechanicId)</td>
                <td>@Html.DisplayFor(modelItem => item.ReservationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Information)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @* <a asp-controller="Repair" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a> *@
                    @if (item.IsEditable && (User.IsInRole("Mechanic") || User.IsInRole("Administrator")))
                    {
                        <a asp-controller="Repair" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
