@*@model Car.Application.Car.CarDto

@{
    ViewData["Title"] = "Samochody użytkownika";
}

<h1>Samochody użytkownika @Model.User.FirstName @Model.User.LastName</h1>

<div>
    <h4>Id użytkownika: @Html.DisplayFor(model => model.UserId)</h4>
    <hr />
    <dl class="row">*@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd> *@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="Index">Back to List</a>
</div>*@

@model Car.Application.Car.CarDto

@{
    ViewData["Title"] = "Samochody użytkownika";
}

<h1>Samochody użytkownika @Model.User.FirstName @Model.User.LastName</h1>

<div class="row">
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">Marka: @Model.CarBrand</h4>
            <h5 class="card-subtitle mb-2 text-muted">Model: @Model.CarModel</h5>
            <p class="card-text"><b>Id użytkownika:</b> @Model.UserId</p>
            <p class="card-text"><b>Rok produkcji:</b> @Model.ProductionYear</p>
            <p class="card-text"><b>Numer rejestracyjny:</b> @Model.RegistrationNumber</p>
            <p class="card-text"><b>VIN:</b> @Model.VIN</p>
            <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
            <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
        </div>
    </div>
</div>

